<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>GrocerEase</title>
</head>
<body>
    <div class="border-for-index">
        <h1 class="big-heading">
            <a href="{{ url_for('index') }}">GrocerEase</a>
        </h1>
        <div>
            <br><br><br><br>
        </div>
        <div class="d-flex justify-content-center mt-12">
            <a class="bigger-button" href="{{ url_for('register') }}">Register</a>
        </div>
        <div>
            <br><br><br><br>
        </div>
        <div class="d-flex justify-content-center mt-12">
            <a class="bigger-button" href="{{ url_for('login') }}">Login</a>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
