body {
    background: #ffffff;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  

  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }


  .bigger-button {
    padding: 1px 2px;
    font-size: 60px;
    background-color: #c68632;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
    
  .big-heading{
    font-size: 80px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
  }

  .big-heading a{
    color: #3799df;
    text-decoration: none;
  }

  .border-for-index {
    border: 5px solid #ccc;
    border-radius: 50px;
    padding: 70px;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
}

.search-bar {
  display: flex;
  align-items: center;
  max-width: 1200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

#search-input {
  flex-grow: 1;
  padding: 8px;
  border: none;
}

#search-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}



#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#categoryForm {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

#showCategoryForm:checked ~ #overlay {
  display: block;
}

#showCategoryForm:checked ~ #overlay #categoryForm {
  display: block;
}

.add-category-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.add-category-button:hover {
  background-color: #e0e0e0;
}

.close {
  float: right;
  cursor: pointer;
}
